version: '3.6'
services:
  php:
    build:
      context: .
      dockerfile: ./php/php.dockerfile
    image: php:7.4-apache
    container_name: php
    restart: always
    ports:
      - 8080:80
    volumes:
      - ./php/www:/var/www/html
      - ./php/php.ini:/usr/local/etc/php/php.ini
    environment:
      - OKTAISSUER=https://dev-44729302.okta.com/oauth2/default
      - OKTASCOPE=wallet
  postgres:
    image: postgres:13.3
    container_name: postgres
    restart: always
    ports:
      - 8090:5432
    environment:
      POSTGRES_PASSWORD: postgres